@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-albertsans: "Albert Sans", sans-serif;

  --index: calc(1vw + 1vh);

  --color-light: #FCFCF6;
  --color-dark: #1A1919;

}

@layer base {

  h1,
  h2,
  p,
  span {
    @apply uppercase;

  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .text-button {
    @apply font-semibold uppercase transition-opacity hover:opacity-60 active:opacity-60;
  }
}

@layer utilities {
  .hero-button-text {
    font-size: max(1.25rem, calc(var(--index)*1.08))
  }

  .hero-button-span {
    font-size: max(0.85rem, calc(var(--index)*0.94))
  }

  .first-section-title {
    font-size: max(1.2rem, calc(var(--index)*1.14))
  }

  .first-section-text {
    font-size: max(0.875rem, calc(var(--index)*0.82))
  }

  .first-section-info {
    font-size: max(1.125rem, calc(var(--index)*0.96))
  }

}